@model WebAppWithOAuth.Models.Resource

@{ 
    Layout = null;
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function() {
        var now = new Date();

        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $('#StartDate').val(today);

        var nextDate = new Date();
        nextDate.setFullYear(nextDate.getFullYear() + 1);
        var next = nextDate.getFullYear() + "-03-31";
        $('#EndDate').val(next);
    });
</script>

@if (TempData["ExportError"] != null)
{
    <script>
        alert("@TempData["ExportError"]");
        window.location.href = '@Url.Action("Index")';
    </script>
}


<div class="form-horizontal">
    @using (Html.BeginForm("_Export", "Forecast", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            @Html.Label("Select worksheet", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Worksheet, Model.listworksheets,
                                     new
                                     {
                                         @class = "form-control"
                                     })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Start Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" class="form-control" name="StartDate" id="StartDate" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("End Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" class="form-control" name="EndDate" id="EndDate" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Export" class="btn btn-default" />
            </div>
        </div>
    }
</div>